.today {
  background-color: #f9d949;
  color: white;
  font-weight: 600;
}

.selected:not([disabled]) {
  background-color: blue;
  color: white;
  font-weight: 600;
}

.selected:hover:not([disabled]) {
  background-color: blue;
}
